* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(92, 44, 44);
    font-family: sans-serif;
}

img {
    border-radius: 20px;
    width: 320px;
    height: 320px;
}

h1 {
    color: papayawhip;
    margin-top: 15px;
    margin-bottom: 8px;
}

p {
    color: white;
    line-height: 1.5;
}

#astronauta {
    width: 150px;
    height: 150px;
}

ul {
    margin-top: 1px;   
}

li {
    margin-bottom: 18px;
    list-style: none;
}

a {
    background-color: papayawhip;
    color: black;
    padding: 15px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    border: 1px solid black;

}

a:hover {
    background-color: white;
    color: rgb(92, 44, 44);
}

footer{
    color: white;
}

.container {
    background-color: rgb(92, 44, 44);
    width: 320px;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    
}